@import url(semantic.min.css);
@import url(datepicker/pikaday.css);

body{
	padding: 0;
}

.clearfix:before,.clearfix:after{
	content: '';
	display: block;
	clear: both;
}

.content{
	padding: 0em 5em;
}

.main{
	padding: 3em 12em;
}

#login .title{
	padding: 20px 0;
}

#hotel .banner{
	width: 100%;
	height: 360px;
	margin-top: 5em;
	padding-top: 20px;
	background: url(../img/hotel/hotel-1.jpg) no-repeat;
	background-size: 100% 100%;
}

#search-hotel{
	width: 590px;
	height: 300px;
	margin-left: 100px;
	overflow: hidden;
}
#hotel .level,#hotel-detail .level{
	font-size:12px;margin-left:10px;color:red;
}
#hotel .recommend,#hotel-detail .recommend,#local .recommend{
	margin-top: 20px;
}
#hotel .price,#local .price,#hotel-detail .price{
	color: #f55;
	font-size: 20px;
}
#hotel .font-blue{
	color: #0084bb;
}

#local .banner{
	width: 100%;
	height: 360px;
	margin-top: 5em;
	padding-top: 20px;
	background: url(../img/local/banner.jpg) no-repeat;
	background-size: 100% 100%;
}
.mar{
	margin-top:70px;
}
.pad{
	padding: 0 10em;
}
#strategy .article-title{
	font-size: 20px;
}
#strategy .user-focus{
	position: absolute;
	left: 0;
	top: 50px;
}
#hotel-detail .detail-info .detail-pic{
	float: left;
	width: 720px;
	padding: 14px;
}
#hotel-detail .detail-info .detail-des{
	float: left;
	width: 320px;
	padding: 14px;
}
#hotel-detail .pics .pic{
	width: 320px;
	float: left;
}

#hotel-detail .fd{
	float: left; 
	margin-left:10px;
	font-size: 18px;
	color: #0084bb;
}
#hotel-detail .total-price{
	text-align: right;
	font-size: 20px;
	padding: 10px 20px;
}
#hotel-detail .total-price span{
	color: orange;
	font-size: 25px;
}
#hotel-detail .detail-title{
	width: 64px;
	float: left; 
	margin-right:30px;
	font-size: 16px;
}
#hotel-detail .detail-con{
	width: 900px;
	float: left; 
	font-size: 16px;
}
#local-detail .price{
	font-size:40px;
	line-height: 90px;
	color: orange;
	height: 90px;
}

#personal .hidden{
	display: none;
}
#personal .item-header{
	height: 20px;
	background: #555;
	width: 100%;
}
#personal .order-item{
	padding: 10px;
}
#personal .order-item .item-header{
	color: #fff;
	text-indent: 10px;
}
#personal .order-item .item-content{
	padding:5px;
}
#personal .hotel-img{
	float: left;
	width: 150px;
	height: 100px;
	overflow: hidden;
}

#personal .order-des{
	float: left;
	margin-left: 10px;
	width: 250px;
}
#personal .order-des .header{
	margin: 20px 0;
	font-size: 18px;
	color: #1e70bf
}

#personal .order-des .time{
	color: #3ac0ff;
}

#personal .acount-price{
	float: left;
	color: #f55;
	width: 100px;
	line-height: 88px;
	text-align: center;
	font-size: 25px;
}

#personal .operation{
	float: left;
	width: 200px;
	height: 100px;
	display: flex;
	justify-content: center;
  	align-items: center;
}

#personal .circle-photo{
	height: 100px;
	width: 100px;
	border-radius: 50% 50%;
	overflow: hidden;
}

#personal-detail .personal-header{
	width: 110px;
	margin: 0 auto;
}

#strategy-detail .strategy-header{
	width: 110px;
	margin: 0 auto;
}

#strategy-detail .afanda img{
	border-radius: 50% 50%;
	width: 28px;
	height: 28px;
}